<section class="section">
    <div class="container">
        <h1 class="title is-1">Manage - {{budget.name}}</h1>
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Monthly Amount</p>
                    <p class="title">{{{USD budget.monthlyAmount}}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Spent This Month</p>
                    <p class="title"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Remaining This Month</p>
                    <p class="title"></p>
                </div>
            </div>
        </div>
        <h2 class="title is-2">Purchases</h2>
        <div class="tile is-ancestor">
            <div class="tile is-3 is-parent">
                <div class="tile is-child box">
                    <div id="purchasesMenu" class="menu">
                        <p class="menu-label">
                            You have not made any purchases this month!
                        </p>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                </div>
            </div>
        </div>
        <h2 class="title is-2">Purchase Categories</h2>
        <div class="tile is-ancestor">
            <div class="tile is-3 is-parent">
                <div class="tile is-child box">
                    <div id="purchaseCategoriesMenu" class="menu">
                        <p class="menu-label">
                        {{#if budget.purchaseCategories.length}}
                            Category - Monthly Amount
                        {{else}}
                            You have not added any purchase categories yet!
                        {{/if}}
                        </p>
                        <ul class="menu-list">
                        {{#if budget.purchaseCategories.length}}
                            {{#each budget.purchaseCategories}}  
                                <li>
                                    <a>
                                        {{this.name}} - {{{USD this.monthlyAmount}}}
                                    </a>
                                </li>
                            {{/each}}
                        {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <canvas 
                        id="purchaseCategoriesPieChart" 
                    {{#unless budget.purchaseCategories.length}}
                        class="is-hidden"
                    {{/unless}}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //Page variables
    var budget = {{{json budget}}};
    var purchaseCategoriesPieChartCanvas;
    var purchaseCategoriesPieChartOptions = {
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var datasetIndex = tooltipItem.datasetIndex;
                    var dataIndex = tooltipItem.index;

                    return (
                        data.labels[dataIndex] + 
                        ': ' + 
                        util.formatUSDCurrency(data.datasets[datasetIndex].data[dataIndex])
                    );
                }
            }
        }
    };
    var purchaseCategoriesPieChart;

    //Page functions
    function getPurchaseCategoriesPieChartData(purchaseCategories) {
        return {
            datasets: [{
                data: purchaseCategories.map(function(purchaseCategory) {
                    return parseFloat(purchaseCategory.monthlyAmount);
                }),
                backgroundColor: purchaseCategories.map(function() {
                    return util.getRandomRGB();
                })
            }],
            labels: purchaseCategories.map(function(purchaseCategory) {
                return purchaseCategory.name;
            })
        };
    }

    function createPurchaseCategoriesPieChart(purchaseCategories) {
        purchaseCategoriesPieChart = util.createPieChart(
            purchaseCategoriesPieChartCanvas, 
            getPurchaseCategoriesPieChartData(purchaseCategories), 
            purchaseCategoriesPieChartOptions
        );
    }
</script>
<script>
    //Page scripts
    $(document).ready(function() {
        purchaseCategoriesPieChartCanvas = $('#purchaseCategoriesPieChart');

        if (budget.purchaseCategories.length) {
            createPurchaseCategoriesPieChart(budget.purchaseCategories);
        }
    });
</script>
